<ion-header>
  <ion-navbar>
    <ion-title>About this book</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="closeModal()">
        <ion-icon name="ios-close-circle-outline">
        </ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header text-center>  
      {{title}}
    </ion-card-header>
    <img [src]="book.cover" />
    <ion-card-content>
      <ion-list>
        <ion-item> 
          <h2>Creator</h2>
          <h6 text-wrap>{{creator}}</h6>
        </ion-item>
        <ion-item>
          <h2>Publisher</h2>
          <h6 text-wrap>{{publisher}}</h6>
        </ion-item>
        <ion-item>
          <h2>Identifier</h2>
          <h6 text-wrap>{{identifier}}</h6> 
        </ion-item>
        <ion-item>
          <h2>Rights</h2>
          <h6 text-wrap>{{rights}}</h6>
        </ion-item>
        <ion-item>
            <h2>Language</h2>
            <h6 text-wrap>{{language}}</h6>
          </ion-item>
      </ion-list>  
    </ion-card-content>
  </ion-card>
</ion-content>