<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <ion-slides>
        <ion-slide
        class="first-item">
            <ion-item
            class="nav-footer">
                <ion-list>
                    <button ion-button class="register-button" (click)="goNext()">Next</button>
                </ion-list>
            </ion-item>
          </ion-slide>
          <ion-slide
          class="second-item">
              <h3>Enrich Your knowledge</h3>
              <p>Enrich your knowledge experience, skills and extends 
                your horizon in the latest digital world of LEGALÉ by Lawbreed
              </p>
              <ion-item
              class="nav-footer"
              no-lines>
                  <ion-list>
                      <button ion-button class="sign-in-button" (click)="goSignInSlides()">Sign In</button>

                      <button ion-button class="register-button" (click)="goRegisterSlides()">Register</button>
                  </ion-list>
              </ion-item>
            </ion-slide>
          <ion-slide
          class="third-item">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <ion-grid>
                  <ion-row>
                      <ion-header>
                        <p>Sign In Quickly.</p>
                      </ion-header>
                    </ion-row>
                    <ion-row justify-content-center>
                      <ion-img src="../../assets/app/front/frntpagelogindetail.png" alt="logo"></ion-img>
                    </ion-row>
                  <ion-row>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                      <div padding>
                        <ion-item>
                            <ion-icon name="mail" md="md-mail"></ion-icon>
                            <ion-input
                            type="email"
                            placeholder="Email Address"
                            ngModel
                            name="email"
                            required 
                            email
                            #emailCtrl="ngModel">
                          </ion-input>
                        </ion-item>
                        <ion-item
                        *ngIf="!emailCtrl.valid && emailCtrl.touched"
                        lines="none"
                        >
                        <ion-label 
                        class="error"
                        >
                          Should be a vaild email address. 
                        </ion-label>
                        </ion-item>
                
                        <ion-item>
                            <ion-input
                            type="password"
                            placeholder="Password"
                            ngModel
                            name="password"
                            required 
                            minlength="6"
                            #passwordCtrl="ngModel"
                          >
                          </ion-input>
                        </ion-item>
                        <ion-item
                        *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
                        lines="none"
                          >
                          <ion-label
                          class="error"
                          >
                            Password should be at least 6 characters long
                          </ion-label>
                        </ion-item>
                      </div>
              
                      <div padding>
                          <button ion-button
                          type="submit"
                          color="primary"
                          class="submitbutton"
                          expand="full"
                          fill="solid"
                          [disabled]="!f.valid"
                          >
                         Login
                
                          </button>
                        </div>
                    </ion-col>
                  </ion-row>
               </ion-grid>
            </form>
            <ion-item style="border-bottom: none;">
                <ion-list>

                    <button ion-button class="register-button" (click)="goRegisterSlides()">Register</button>
                </ion-list>
            </ion-item>
          </ion-slide>
          <ion-slide
          class="third-item">
              <form #fsignup="ngForm" (ngSubmit)="onSubmitReg(fsignup)">
                <ion-grid>
                  <ion-row>
                    <ion-header>
                      <p>New to LEGALÉ? Register Here.</p>
                    </ion-header>
                  </ion-row>
                  <ion-row justify-content-center>
                    <ion-img src="../assets/app/front/frntpagelogindetail.png" alt="logo"></ion-img>
                  </ion-row>
                    <ion-row>
                      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div padding>
                            <ion-item>
                                <ion-icon ios="ios-contact" src="../assets/app/signin/signinicon.png"></ion-icon>
                                <ion-input
                                type="text"
                                placeholder="First Name"
                                ngModel
                                name="firstName"
                                required 
                                sfirstName
                                #sfirstNameCtrl="ngModel">
                              </ion-input>
                            </ion-item>
                            <ion-item
                            *ngIf="!sfirstNameCtrl.valid && sfirstNameCtrl.touched"
                            lines="none"
                            >
                            <ion-label 
                            class="error"
                            >
                              Please enter your First Name. 
                            </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-icon name="mail" md="md-mail"></ion-icon>
                                <ion-input
                                type="text"
                                placeholder="Last Name"
                                ngModel
                                name="lastName"
                                slastName
                                #slastNameCtrl="ngModel">
                              </ion-input>
                            </ion-item>
                          <ion-item>
                              <ion-icon name="mail" md="md-mail"></ion-icon>
                              <ion-input
                              type="email"
                              placeholder="Email Address"
                              ngModel
                              name="email"
                              required 
                              semail
                              #semailCtrl="ngModel">
                            </ion-input>
                          </ion-item>
                          <ion-item
                          *ngIf="!semailCtrl.valid && semailCtrl.touched"
                          lines="none"
                          >
                          <ion-label 
                          class="error"
                          >
                            Should be a vaild email address. 
                          </ion-label>
                          </ion-item>
                  
                          <ion-item>
                              <ion-input
                              type="password"
                              placeholder="Password"
                              ngModel
                              name="password"
                              required 
                              minlength="6"
                              #spasswordCtrl="ngModel"
                            >
                            </ion-input>
                          </ion-item>
                          <ion-item
                          *ngIf="!spasswordCtrl.valid && spasswordCtrl.touched"
                          lines="none"
                            >
                            <ion-label
                            class="error"
                            >
                              Password should be at least 6 characters long
                            </ion-label>
                          </ion-item>
  
                          <ion-item
                          >
                              <ion-input
                              type="password"
                              placeholder="Confirm Password"
                              ngModel
                              name="confirmpassword"
                              required 
                              minlength="6"
                              #sconfirmpasswordCtrl="ngModel"
                            >
                            </ion-input>
                          </ion-item>
                          <ion-item
                          *ngIf="!sconfirmpasswordCtrl.valid && sconfirmpasswordCtrl.touched && sconfirmpasswordCtrl != spasswordCtrl"
                          lines="none"
                          [hidden]="!!isLogin"
                            >
                            <ion-label 
                            class="error"
                            >
                              Wrong password combination
                            </ion-label>
                          </ion-item>
                        </div>
                        <div padding>
                            <button ion-button
                            type="submit"
                            color="primary"
                            class="submitbutton"
                            expand="full"
                            fill="solid"
                            [disabled]="!fsignup.valid"
                            >
                            Create an account
                  
                            </button>
                          </div>
                      </ion-col>
                    </ion-row>
                 </ion-grid>
              </form>
              <ion-item>
                  <ion-list>
                      <button ion-button class="sign-in-button" (click)="goSignInSlides()">Sign In</button>
                  </ion-list>
              </ion-item>
            </ion-slide>
      </ion-slides>

</ion-content>
