page-auth {
    background-color: #bf9900 !important;
    font-family: "Brown";

    ion-item{
        --background: #3880ff;
        --color: #fff;
    }
    
    ion-button{
        --background: #bf9900;
    }
    
    .first-item {
        background-image: url('../assets/app/home/home-bg.png');
        background-size: cover;
        background-position: center;
        size: 100vw;

        ion-img {
            height: 32vh;
            width: 50vw;
            background: transparent !important;
        }
    }

    .second-item {
        color: #bf9900;
        padding-top: 100px;
        background: #fff !important;

        .slide-zoom {
            width: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-weight: bold;
                font-size: 24px;
                max-width: 300px;
            }
    
            p {
                font-size: 15px;
                max-width: 300px;
            }

            .item-inner {
                border-bottom: none !important;

                .register-button {
                    color: #524744 !important;
                    font-weight: bold;
                }
    
                .sign-in-button {
                    color: #bf9900 !important;
                    font-weight: bold;
                }
            }

        }
    }

    .third-item,
    .fourth-item {
        color: #bf9900;
        padding-top: 100px;
        background-image: url('../assets/app/front/frntpagelogindetailbg.png');
        background-position: center;
        background-size: cover;

        ion-header {
            font-weight: bolder;
            font-size: 20px;

            &::after {
                background-image: none;
            }
        }

        ion-img {
            height: 13vh;
            width: 20vw;
            background: transparent !important;
        }

        .register-button {
            color: #524744 !important;
            font-weight: bold !important;
            background-color: transparent !important;
            box-shadow: none;
            float: right;
        }

        .sign-in-button {
            color: #bf9900 !important;
            font-weight: bold !important;
            background-color: transparent !important;
            box-shadow: none;
            float: left;
        }
    }
    
    .error {
        color: #f00;
        font-size: 12px;
    }
    
    .nav-footer {
        background: transparent;
        position: absolute;
        bottom: 0px;
    
        &::before {
            background-image: none !important;
        }
    
        .toolbar-background {
            background: transparent;
            border: none;
        }
    
        .sign-in-button {
            float: left;
            color: blue;
            background: transparent;
            border: none;
            text-transform: capitalize;
            box-shadow: none;
        }
        
        .register-button {
            float: right;
            background: transparent;
            color: #fff;
            font-size: 18px;        
            border: none;
            text-transform: capitalize;
            box-shadow: none;
        }
    }
}

.button-md-primary, .button-ios-primary {
    width: 100%;
    border-radius: 25px;
    text-transform: initial;
    background-color: #bf9900;
}

.item-inner {
    border-bottom: none !important;
}

.col {
    position: initial !important;
}
