page-dashboard {
    background: transparent !important;
    
    .toolbar-background {
        background-color: #bf9900 !important;
        border: none !important;
    }
    
    .header {
        background-color: #bf9900 !important;
        color: #fff;
    
        &::after {
            background: none;
        }
    
        .toolbar-title  {
            color: #fff;
        }
    }
    
    ion-content {
        background-color: #bf9900 !important;
        max-height: 100vh;
        .header {
            padding-top: 30px;
            padding-bottom: 30px;
    
            h1 {
                font-size: 17px !important;
            }
        }
    
        ion-grid {
            background-color: #fff !important;
            height: 400px !important;
            margin-top: -30px;
            border-radius: 35px 35px 0px 0px;
            border-bottom: 0px;
    
            ion-row {
                padding-top: 45px;
    
                ion-card {
                    background-color: transparent !important;
                    border: none !important;
                    box-shadow: none !important;
                    padding-top: 10px;
    
                    ion-icon {
                        color: #bf9900;
                        font-size: 45px;
                    }
    
                    h2 {
                        color: #222 !important;
                        font-weight: bold;
                    }
                }
            }
        }
    }  

    ion-footer {
        border: none;
        text-align: center;

        &::before {
            background: none !important;
        }

        .footer,
        .footer-md,
        .footer-ios {
            border: none;
            text-align: center;

            &::before {
                background: none !important;
            }
        }

        .input-wrapper {
            text-align: center !important;

            .label {
                text-align: center !important;
                font-weight: bold !important;
            }
        }
    }
    
}