<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>
      My Dashboard
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding center>
  <div *ngIf="isLoading" style="justify-content: center;display: flex;align-items: center;">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
      <section class="header" text-center margin-bottom>
          <h1 style="font-size: 1.4em;" no-margin>Welcome {{ fullName }} <br>
           {{ email }} </h1>
        </section>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-card 
              text-center 
              padding 
              color="dashboard"
              (click)="onNavigateToBooksPage()"
              >
                <ion-icon name="book" color="primary" md="md-book"></ion-icon>
                <h2 style="color: #fff;">Books</h2>
              </ion-card>
            </ion-col>
            <!-- <ion-col col-6>
              <ion-card 
              text-center 
              padding 
              color="dashboard"
              (click)="onNavigateToSavedItemsPage()">
                <ion-icon name="cloud-download" md="md-cloud-download" color="orange"></ion-icon>
                <h2 style="color: #fff;">Downloaded Items</h2>
              </ion-card>
            </ion-col> -->
            <ion-col col-6>
              <ion-card 
              text-center 
              padding 
              color="dashboard"
              (click)="onNavigateToSubscriptionPage()">
                <ion-icon name="calender" ios="ios-calender" md="md-calendar" color="green"></ion-icon>
                <h2 style="color: #fff;">Subscription</h2>
              </ion-card>
            </ion-col>
            <ion-col col-6 *ngIf="isAllowed">
              <ion-card 
              text-center 
              padding 
              color="dashboard"
              (click)="onNavigateToUploadDocumentPage()">
                <ion-icon name="upload" md="md-upload" color="blue"></ion-icon>
                <h2 style="color: #fff;">Upload Documents</h2>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card 
              text-center 
              padding 
              color="dashboard"
              (click)="onNavigateToPaymentHistoryPage()">
                <ion-icon name="refresh" md="md-refresh" color="darkblue"></ion-icon>
                <h2 style="color: #fff;">Payment History</h2>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card 
              text-center 
              padding 
              color="dashboard"
              (click)="onLogout()">
                <ion-icon name="log-out" md="md-log-out" color="danger"></ion-icon>
                <h2 style="color: #fff;">Logout</h2>
              </ion-card>
            </ion-col>
      
          </ion-row>
        </ion-grid>
  </div>
  <ion-grid>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-item>
    LegalÉ By LawBreed
    </ion-item>
  </ion-row>
</ion-footer>
