page-subscription {
        .toolbar-background {
            background-color: #bf9900 !important;
            border: none !important;
    
            .back-button .show-back-button {
                color: #fff !important;
    
                ion-icon {
                    color: #fff !important;
                }
            }
        }
        
        .header {
            background-color: #bf9900 !important;
            color: #fff;
        
            &::after {
                background: none;
            }
        
            .toolbar-title  {
                color: #fff;
            }
        }
        
        ion-content {
            background-color: #bf9900 !important;
            max-height: 100vh;
            .header {
                padding-top: 30px;
                padding-bottom: 30px;
        
                h1 {
                    font-size: 17px !important;
                }
            }
    
    
            img {
                height: 100% !important;
                width: 100% !important;
            }
    
            h2 {
                font-size: 25px !important;
                margin-bottom: 10px !important;
            }
        
            ion-grid {
                background-color: #fff !important;
                margin-top: 60px;
                border-radius: 35px 35px 0px 0px;
                border-bottom: 0px;
                height: 100vh !important;
        
                ion-row {
                    padding-top: 45px;
                    text-align: center;

                    ion-col {
                        border-bottom: 2px solid #bf9900 !important;
                        padding: 30px !important;

                        ion-icon {
                            font-size: 4.2em;
                        }
                    }
        
                    ion-card {
                        background-color: transparent !important;
                        border: none !important;
                        box-shadow: none !important;
                        padding-top: 10px;
        
                        ion-icon {
                            color: #bf9900;
                            font-size: 45px;
                        }
        
                        h2 {
                            color: #222 !important;
                            font-weight: bold;
                        }
                    }
                }
            }
        }  
}
