<!--
  Generated template for the SubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Subscription Status</ion-title>
    <ion-buttons right>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 (click)="checkOut('Monthly', '5500', 'NGN', 'Monthly')">
          <ion-icon name="card" ios="ios-card" md="md-card" color="darkblue"></ion-icon>
        <ion-label>Monthly Subscription</ion-label>

        <ion-label>NGN 5,500.00</ion-label>
      </ion-col>
      <ion-col col-12 (click)="checkOut('Yearly', '35500', 'NGN', 'Yearly')">
          <ion-icon name="card" ios="ios-card" md="md-card" color="red"></ion-icon>
        <ion-label>Yearly Subscription</ion-label>

        <ion-label>NGN 35,500.00</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
    <ion-row>
      <ion-item>
      LegalÉ By LawBreed
      </ion-item>
    </ion-row>
  </ion-footer>