<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <section class="header" text-center margin-bottom>
      <ion-icon name="person"></ion-icon>
      <h1 style="font-size: 1.4em;" no-margin>Welcome, <br>
      Mr. Damilare</h1>
    </section>
    <form [formGroup]="form" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
            <ion-item>
                <ion-icon name="user" md="md-user"></ion-icon>
                <input
                type="text"
                placeholder="First Name"
                [(ngModel)]="firstNameCtrl"
                name="firstName"
                required 
                firstName
                formControlName="firstName"
                autocomplete />
            </ion-item>
            <ion-item>
                <ion-icon name="user" md="md-user"></ion-icon>
                <input
                type="text"
                placeholder="Last Name"
                [(ngModel)]="lastNameCtrl"
                name="lastName"
                required 
                lastName
                formControlName="lastName" />
            </ion-item>
            <ion-item>
                <ion-icon name="mail" md="md-mail"></ion-icon>
                <input
                type="email"
                placeholder="Email Address"
                [(ngModel)]="emailCtrl"
                name="email"
                required 
                email
                formControlName="email" />
            </ion-item>
            <div padding>
                <button ion-button
                type="submit"
                color="primary"
                class="submitbutton"
                expand="full"
                fill="solid"
                >
                Update Profile
      
                </button>
              </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>


<ion-footer>
    <ion-row>
      <ion-item>
      LegalÉ By LawBreed
      </ion-item>
    </ion-row>
  </ion-footer>