@font-face {
    font-family: 'Brown';
    src: url('../assets/fonts/brown/Brown-Regular.eot');
    src: local('Brown-Regular'),
        url('../assets/fonts/brown/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/brown/Brown-Regular.woff') format('woff'),
        url('../assets/fonts/brown/Brown-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}