<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!-- <ion-menu persistent="true" [content]="content" id="header-menu">
    <ion-header>
        <ion-toolbar>
        <ion-title>
        Page Links
        </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div>
        <ion-list>
            <ion-list-header>
                Menu Info
            </ion-list-header>
            <ion-item (click)="onNavigateToHome()">
                Home
            </ion-item>
        </ion-list>
        </div>
    </ion-content>
</ion-menu> -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>