.toolbar-title{
    text-align: center;
}

.scroll-content {
    padding: 0px !important;
}

@import '../theme/fonts';

ion-app {
    font-family: 'Brown' !important;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #fff !important;
}