<!--
  Generated template for the PaymentHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Payment History</ion-title>
    <!-- <ion-buttons right>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row
    *ngIf="isLoading">
    <div>
        <ion-spinner color="primary"></ion-spinner>
    </div>
    </ion-row>
      <ion-row
        *ngIf="!isLoading && isEmpty"
        text-center
      >
        <p text-center>No subscription payment has been made so far.</p>
        <button ion-button
          type="button"
          color="secondary"
          expand="full"
          fill="solid"
          (click) = "onNavigationToSubscription()"
          >
          Subscribe Now
        </button>
      </ion-row>
      <ion-row
        *ngIf="!isLoading && !isEmpty"
      >
      <div class="title">Current Subscription</div>
        <ion-col col-12>
          <ion-label>Payment Type: {{ type }}</ion-label>
          <ion-label>Amount: {{ amount | currency:"NGN":true:"2.2"}}</ion-label>
          <ion-label>Date: {{ created_on   | date: 'dd/MM/yyyy' }}</ion-label>
          <ion-label>Expiry On : {{ expiry | date: 'dd/MM/yyyy' }}</ion-label>
          <ion-label>Status: <span color="green">
              {{ status }}
          </span></ion-label>
          <div class="renew-sub">
              <button ion-button
              type="button"
              color="secondary"
              expand="full"
              fill="solid"
              (click) = "onNavigationToSubscription()"
            >
           Renew Subscription
          </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-item>
    LegalÉ By LawBreed
    </ion-item>
  </ion-row>
</ion-footer>