.ios,
.md {
  page-paystack {
      background: transparent !important;
        
      .toolbar-background {
          background-color: #bf9900 !important;
          border: none !important;
      }
      
      .header {
          background-color: #bf9900 !important;
          color: #fff;
      
          &::after {
              background: none;
          }
      
          .toolbar-title  {
              color: #fff;
          }
      }
      
      ion-content {
          background-color: #fff !important;
          max-height: 100vh;
          
          .header {
              padding-top: 30px;
              padding-bottom: 30px;
      
              h1 {
                  font-size: 17px !important;
              }
          }
      
          ion-grid {
              background-color: #fff !important;
              margin-top: 60px;
              border-radius: 35px 35px 0px 0px;
              border-bottom: 0px;
              height: 100% !important;
              display: flex;
              justify-content: center;
      
              ion-row {
                  padding-top: 45px;
                  text-align: center !important;
                  display: flex;
                  justify-content: center;
      
                  ion-card {
                      background-color: transparent !important;
                      border: none !important;
                      box-shadow: none !important;
                      padding-top: 10px;
      
                      ion-icon {
                          color: #bf9900;
                          font-size: 45px;
                      }
      
                      h2 {
                          color: #222 !important;
                          font-weight: bold;
                      }
                  }
              }
          }
      }  
    
      ion-footer {
          border: none;
          text-align: center;
    
          &::before {
              background: none !important;
          }
    
          .footer,
          .footer-md,
          .footer-ios {
              border: none;
              text-align: center;
    
              &::before {
                  background: none !important;
              }
          }
    
          .input-wrapper {
              text-align: center !important;
    
              .label {
                  text-align: center !important;
                  font-weight: bold !important;
              }
          }
      }
    .my-custom-menu {
        --width: 500px;
      }
  }
}
