<ion-header>
  <ion-navbar color="secondary" text-center>
    <ion-title>Make Payment</ion-title>
    <!-- <ion-buttons right>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="amount">
    <h2>
      You are about to pay {{ inputData.currency + " " + inputData.price }}
    </h2>
  </div>

  <div class="input-area">
    <div class="pay-button">
      <button ion-button full
      angular4-paystack
        [key]="key"
        [email]="email"
        [amount]="price"
        [currency] = "currency"
        [ref]="ref"
        [plan]="plan"
        (close)="paymentCancel()"
        (callback)="paymentDone($event)"
    >
        PROCEED TO PAY {{ inputData.currency + ' ' + inputData.price}}
      </button>
    </div>
  </div>

  <div class="footer">
    <div class="secured">
      <ion-icon name="lock" item-start></ion-icon>

      SECURED BY PAYSTACK
    </div>

    <div class="whatspaystack">
      <button
        ion-button
        outline
        small
        round
        class="app-font-25″"
        (click)="whatsPaystack()"
      >
        WHAT IS PAYSTACK?
      </button>
    </div>
  </div>
</ion-content>


<ion-footer>
    <ion-row>
      <ion-item>
      LegalÉ By LawBreed
      </ion-item>
    </ion-row>
  </ion-footer>