<ion-header>
  <ion-navbar>
    <ion-title> List of Books</ion-title>
    <ion-buttons right>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-thumbnail>
        <img [src]="book.cover" (click)="openModal(book)">
      </ion-thumbnail>
      <h2>{{book.label}}</h2>
      <p text-wrap>{{book.metadata && book.metadata.creator}}</p>
      <button  ion-button outline color="secondary" (click)="show(book)">Read</button>
      <button  ion-button outline color="primary" (click)="saveOffline(book)">Save Offline</button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-item>
    LegalÉ By LawBreed
    </ion-item>
  </ion-row>
</ion-footer>