<!-- Generated template for the HeaderMenuComponent component -->
<div>
    <ion-list>
      <ion-list-header>
        Settings
      </ion-list-header>
      <ion-item (click)="onLogout()">Logout</ion-item>
    </ion-list>
  </div>
