<ion-header>
  <ion-navbar>
    <ion-title> Your Saved Books</ion-title>
    <ion-buttons right>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row
  *ngIf="isLoading">
  <div>
      <ion-spinner color="primary"></ion-spinner>
  </div>
  </ion-row>
  <ion-row
  *ngIf="!isLoading && isEmpty"
  text-center
>
  <p text-center>No saved Items so far.</p>
  <button ion-button
    type="button"
    color="secondary"
    expand="full"
    fill="solid"
    (click) = "onNavigationToBooksPage()"
    >
    Go to Books Lists
  </button>
</ion-row>
  <ion-row
  *ngIf="!isLoading && !isEmpty"
  >
    <ion-list>
      <ion-item *ngFor="let book of books">
        <ion-thumbnail>
          <img [src]="book.cover" (click)="openModal(book)">
        </ion-thumbnail>
        <h2>{{book.label}}</h2>
        <p text-wrap>{{book.metadata && book.metadata.creator}}</p>
        <button  ion-button outline color="secondary" (click)="show(book)">Read</button>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-item>
    LegalÉ By LawBreed
    </ion-item>
  </ion-row>
</ion-footer>